/* Nav Bar */
nav.main-nav
{
   position: sticky;
   top: 0;
   left: 0;
   height: 70px;
   width: 100vw;
   background-color: var(--secondary-color);
   border-bottom: 2px solid var(--primary-color);
   box-shadow: var(--box-shadow);
   z-index: 10;
}

nav.main-nav .container.nav-container
{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 20px;
   width: 100%;
}

nav.main-nav .container.nav-container h1.logo
{
   color: var(--primary-color);
}


nav.main-nav .container.nav-container ul
{
   position: absolute;
   right: 50px;
   top: 50%;
   transform: translateY(-50%);
}

nav.main-nav .container.nav-container ul li
{
   display: inline-block;
   margin: 0 10px;
}

nav.main-nav .container.nav-container ul li a
{
   color: var(--primary-color);
   text-transform: uppercase;
   font-size: 17px;
   font-weight: 400;
}

nav.main-nav .container.nav-container ul li a:hover,
nav.main-nav .container.nav-container ul li a.active
{
   border-bottom: 1px solid var(--primary-color);
}

/* Slider */
.slider
{
   position: relative;
}

.slider .slide
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   opacity: 0;
   transition: opacity .3s ease-in-out;
}

.slider .slide img
{
   height: 100%;
   width: 100%;
}

.slider .slide .content h2
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-transform: uppercase;
   font-size: 7em;
   color: var(--secondary-color);
   text-shadow: var(--text-shadow);
   white-space: nowrap;
}

.slider .slide.current
{
   position: absolute;
   opacity: 1;
   transition: opacity .3s ease-in-out;
}

.slider .slide:nth-child(1)
{
   background: url('../Images/Slider/gokart.jpg') no-repeat center center/cover;
}

.slider .slide:nth-child(2)
{
   background: url('../Images/Slider/minigolf.jpg') no-repeat center center/cover;
}

.slider .slide:nth-child(3)
{
   background: url('../Images/Slider/paintball.jpg') no-repeat center center/cover;
}

.slider .slide:nth-child(4)
{
   background: url('../Images/Slider/sumowrestling.png') no-repeat center center/cover;
}