:root
{
   /* Colors */
   --primary-color: #21BBAC;
   --secondary-color: #fff;
   --tertiary-color: #00754a;
   --overlay-color: rgba(0, 0, 0, .4);

   --empty-input-field-border-color: #f00;

   /* Radii */
   --base-border-radius: 10px;

   /* Shadows */
   --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
   --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

/* Section */
section
{
   position: relative;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

section:not(.home) h2
{
   position: absolute;
   top: 5%;
   left: 50%;
   transform: translateX(-50%);
   color: var(--tertiary-color);
   text-transform: uppercase;
   border-bottom: 2px solid var(--tertiary-color);
   font-size: 2em;
}

/* Header */
header h2
{
   white-space: nowrap;
}

/* Overlay */
.overlay
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--overlay-color);
}

/* Buttons */
.btn
{
   padding: 10px 20px;
   border-radius: calc(var(--base-border-radius) / 2);
   color: var(--secondary-color);
   text-transform: uppercase;
   background-color: none;
   transition: box-shadow .15s ease-in, color .15s ease-in, opacity .15s ease-in;
   cursor: pointer;
}

.btn:hover
{
   opacity: .85;
   box-shadow: var(--box-shadow);
   transition: box-shadow .15s ease-in, opacity .15s ease-in;
}

.btn.btn-primary
{
   background-color: var(--primary-color);
}

.btn.btn-primary:hover
{
   background-color: var(--tertiary-color);
}

/* Form */
form
{
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   background-color: var(--secondary-color);
   width: 40vw;
   height: 70vh;
   border-radius: var(--base-border-radius);
   padding: 30px 15px;
}

form header
{
   position: absolute;
   top: -12.5%;
   left: 50%;
   transform: translate(-50%, -50%);
}

form > div
{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}


form > div div
{
   margin: 0 20px;
}

form > div + div div:last-child
{
   position: absolute;
   bottom: 20px;
   left: 45%;
   transform: translate(-50%, -50%);
}

form > div + div div:last-child input
{
   cursor: pointer;
}

form > div div input
{
   width: 100%;
}

form label
{
   display: block;
	margin-bottom: 8px;
   white-space: nowrap;
}

form input,
form textarea
{
	border-radius: calc(var(--base-border-radius) / 2);
	font-size: 15px;
	padding: 10px;
	background-color: #e8eeef;
	color:#8a97a0;
	margin-bottom: 30px;
   cursor: pointer;
   transition: border .15s ease-in, box-shadow .15s ease-in;
}

form textarea
{
   transform: translateY(40px);
}

form input:focus,
form textarea:focus
{
   box-shadow: inset var(--box-shadow);
   border: 2px solid var(--primary-color);
   transition: border .15s ease-in, box-shadow .15s ease-in;
}

form input[type="number"]
{
   margin-bottom: 5px;
}

form input[type="number"] + p
{
   margin-bottom: 20px;
}


form textarea
{
   margin-top: -50%;
   height: 200%;
   width: 100%;
}

form button
{
   position: absolute;
   left: 50%;
   bottom: 20px;
   padding: 10px 20px;
   transform: translateX(-50%);
   width: 80%;
   background-color: var(--primary-color);
   font-size: 20px;
}

form input.empty,
form textarea.empty
{
   border: 2px solid var(--empty-input-field-border-color);
   transition: none;
}

form button[type="submit"].disabled
{
   opacity: .3;
   pointer-events: none;
}