:root
{
   /* Colors */
   --primary-color: #21BBAC;
   --secondary-color: #fff;
   --tertiary-color: #00754a;
   --overlay-color: rgba(0, 0, 0, .4);

   /* Radii */
   --base-borde-radius: 10px;

   /* Shadows */
   --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
   --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

section
{
   height: 100vh;
}

.overlay
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--overlay-color);
}